@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

.logo {
  font-family: 'Sedgwick Ave', cursive;
  letter-spacing: 3px;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fancy-title {
  font-family: 'Sedgwick Ave', cursive;
  font-size: 48px;
}

.signin-layout {
  background-color: $primary-color;
}

.planner-topbar {
  background-color: $secondary-color;
}

.jello-user {
  font-size: 8px;
  margin-bottom: 0px !important;
  text-align: right;
}

.jello-board-tile {
  margin: 20px 20px 0px 0px;
  .v-card__subtitle {
    font-size: 8px;
  }
}
